<!DOCTYPE html>
<html>
<head>
  <title>jamesdong.com</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/ganalytics' %>
  
</head>
<body>

  <div class="container-fluid vert-table">
    <div class="vert-tablecell">
    	<div class="col-xs-12">
    		<h3>Living life to the fullest and exploring my passions</h3>
    		</br>
    		</br>
    	</div>

      <div class="col-xs-2 col-xs-offset-3"> 
        <%= link_to(image_tag("Home thumbnails/Photographer.jpg", class: "img-responsive", alt: "Leopard seal under the brash", title: "Leopard seal under the brash"), photographer_path, class: "thumbnail") %>
        <h4>Photographer</h4>
      </div>
      <div class="col-xs-2">
        <%= link_to(image_tag("Home thumbnails/Entrepreneur.jpg", class: "img-responsive", alt: "Human flower", title: "Human flower"), entrepreneur_path, class: "thumbnail") %>
        <h4>Entrepreneur</h4>
      </div>
      <div class="col-xs-2">
        <%= link_to(image_tag("Home thumbnails/Foodie.jpg", class: "img-responsive", alt: "Kale, persimmon, almond salad with lime and honey vinaigrette", title: "Kale, persimmon, almond salad with lime and honey vinaigrette"), foodie_path, class: "thumbnail") %>
        <h4>Foodie</h4>
      </div>
    </div>
	</div>


</body>
</html>