<% provide(:title, 'Photography Portfolio') %>

        <div class="col-xs-10 col-xs-offset-1">
            <h4>"THERE ARE NO RULES FOR GOOD PHOTOGRAPHS, THERE ARE ONLY GOOD PHOTOGRAPHS"</h4>
            <h5>ANSEL ADAMS</h5>
            </br>
            <p>
            Growing up, I snuck out the cameras that my parents told me I could only use under their supervision and took pictures of everything. My favorite game was experimenting with each setting, especially on long car, train, or plane rides. I styled myself an artist with random sepia and black and white shots. Serious understanding and study hit in my twenties. I began to try various techniques and styles, one at a time. Today still, I am eager to explore all that photography is and experience the wonderful adventures along the way. 
            </p>
            <p>
                If you are interested in my photography services, <a href="<%= photographer_services_path%>">click here</a>. If you are interested in purchasing a print, <a href="<%= new_contact_path %>">contact me</a>.  
            </p>
            <%= render 'layouts/sharebutton' %>
            </br>
        </div>

    	<div class="col-xs-12">
            <h4>My favorite photos from around the world</h4>
            </br>
        </div>
        <div class="col-xs-12 col-xs-offset-3">
            <% @favimages.each do |image| %>
            <div class="col-xs-2">
                <%= link_to(image_tag("Photographer thumbnails/#{image}.jpg", class: "img-responsive", alt: "#{image}", title: "#{image}"), "photographer/#{image.downcase.tr(' ','_')}", class: "thumbnail") %>
                <h6><%= "#{image}" %></h6>
            </div>
            <% end %>
        </div>

        </br>
        <hr>

        <div class="col-xs-12">
            <h4>Photographic series that tell a collective story</h4>
            </br>
        </div>
        <div class="col-xs-12 col-xs-offset-3">
            <% @seriesimages.each do |image| %>
            <div class="col-xs-2">
                <%= link_to(image_tag("Photographer thumbnails/#{image}.jpg", class: "img-responsive", alt: "#{image}", title: "#{image}"), "photographer/#{image.downcase.tr(' ','_')}", class: "thumbnail") %>
                <h6><%= "#{image}" %></h6>
            </div>
            <% end %>
        </div>

