    <div class="col-xs-10 col-xs-offset-1">
			
			@buymsg = "If you're interested in purchasing a print, <a href="<%= new_contact_path %>">please contact me</a>""

			<% if content_for(:title) == 'The Deep South' %>

				<h4></h4>
	            </br>
	            <p>
	            I recently went on an expedition to South Georgia, the Falkland Islands, & Antarctica. The entire trip I felt so… big&#8212;like a giant whose next step would be a crush. As someone who grew up immersed in environmental sustainability, this reaction surprised me. But it was easy to see why&#8212;walking physically among hundreds of thousands of penguins & seals, I could see how much they reacted to my presence from even an Olympic swimming pool's distance away. With these photographs, I wanted to show the faces of those changed forever by decisions we make everyday, from half a planet away. <%= @extra_title %>
	            </p>
	        	</br>

        	<% elsif content_for(:title) == 'The Stars Reply' %>

        		<h4>THE DEEP SOUTH</h4>
	            </br>
	            <p>
	            The Sigma Phi Society is the nation's oldest continually operating fraternity, yet it is also one of the smallest with only 10 chapters. Once a year, a national convention calls members together. Starting as strangers grasping at threads of commonality, these men leave as brothers woven together by a profound history and identity. <%= render 'layouts/contacttobuy' %>
	            </p>
	        	</br>

        	<% elsif content_for(:title) == 'Reflections in Yosemite' %>

        		<h4>THE DEEP SOUTH</h4>
	            </br>
	            <p>
	            Photographs that capture the continuously changing dynamic of Yosemite National Park. <%= render 'layouts/contacttobuy' %>
	            </p>
	        	</br>

        	<% elsif content_for(:title) == 'Natural Environments' %>

        		<h4>THE DEEP SOUTH</h4>
	            </br>
	            <p>
	            A selection of my favorite photographs of the wild outdoors (with some minor urban or human features!). <%= render 'layouts/contacttobuy' %>
	            </p>
	        	</br>

        	<% elsif content_for(:title) == 'Urban Playgrounds' %>

        		<h4>THE DEEP SOUTH</h4>
	            </br>
	            <p>
	            A selection of my favorite photographs of cityscapes and the things we build. <%= render 'layouts/contacttobuy' %>
	            </p>
	        	</br>

        	<% elsif content_for(:title) == 'Human Expressions' %>

        		<h4>THE DEEP SOUTH</h4>
	            </br>
	            <p>
	            A selection of my favorite photographs of unsuspecting friends and strangers. Here I try to really capture the fleeting masks we're constantly peeking out from behind. <%= render 'layouts/contacttobuy' %>
	            </p>
	        	</br>

        	<% end %>
    </div>