<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="<%= asset_url("/galleria/galleria-1.3.5.min.js") %>"></script>
<script src="<%= asset_url("/galleria/plugins/flickr/galleria.flickr.min.js") %>"></script>
<style>
/*Note original galleria.classic.css completely untouched, all changes built on top of it here*/

/* can't figure a way to fold this into the regular galleria... this section is for the portrait gallery, which uses div IDs and then luckily teh changes below for normal galleria's which are also applied, just build on what's the div ids without conflict*/

    #galleria { width:100%; position:relative; height:0; padding-bottom:56%;}
    /*#loader { width:200px; height:100px; margin:-50px 0 0 -100px; position:absolute; left:50%; top:50%; color:#fff; text-align:center;
        z-index:4; display:none; background:#000 url('/assets/galleria/themes/classic/classic-loader.gif') no-repeat 50% 25px; opacity:.8; line-height:150px; border-radius:6px } */
    #menu { margin-top: 10px; border-top:1px solid #2b2b2b }
    #menu a { display:block; padding:5px 5px; border-bottom:1px solid #2b2b2b }
    #menu a:hover { background:#151515; background:rgba(0,0,0,.1); }
    #menu a.active { background:#111; background:rgba(0,0,0,.3); color:#fff }

/* changes size of container, combines with height 0.5625 aspect ratio in actual html view */
.galleria { width: 90%; margin: 0 auto }

/* converts from white arrows & text on black background to black arrows on white backgroun */
.galleria-container { background: transparent }
.galleria-image-nav-left, .galleria-image-nav-right { background-image: url(/assets/galleria/themes/classic/arrows.png) }
.galleria-counter { color: transparent } /*normally should be black, and then in each galleria instance I turn the counter off, but the problem is that on the multi-galleria, there is no turn off, so this is the cop-out*/

/*centers the title of the image across the galleria box rather than fixed to upper left hand corner. note, the information toggler turned off in native min.JS and JS (line 23) files for theme*/
.galleria-info { width: 100%; top: 0px; left: 0px }
.galleria-info-text { text-align: center; background-color: transparent }
.galleria-info-title { font: bold 12px/1.1 arial,sans-serif; color: black; opacity: 0.6;}

/* creates enough space for title */
.galleria-stage { margin-top: 30px }

/*centers row of thumbnails*/
.galleria-thumbnails { margin: auto }
</style>

<!--only other change made to original galleria theme is to replace all instances of url_l with url_h in galleria.flickr.js and galleria.flicker.min.js. this allows the API to pull 1600 images when option is set to big instead of 1024, and improves quality. see reference : http://support.galleria.io/discussions/questions/4730-flickr-plugin-image-size -->

</head>

<body>

<div class="container-fluid">

	    <div class="col-xs-10 col-xs-offset-1">
			
			<% if content_for(:title) == 'The Deep South' %>

				<h4><%= yield(:title).upcase %></h4>
	            </br>
	            <p>
	            I recently went on an expedition to South Georgia, the Falkland Islands, & Antarctica. The entire trip I felt so… big&#8212;like a giant whose next step would be a crush. As someone who grew up immersed in environmental sustainability, this reaction surprised me. But it was easy to see why&#8212;walking physically among hundreds of thousands of penguins & seals, I could see how much they reacted to my presence from even an Olympic swimming pool's distance away. With these photographs, I wanted to show the faces of those changed forever by decisions we make everyday, from half a planet away. <%= Contact::CONTACTME %>
	            </p>
	        	</br>

        	<% elsif content_for(:title) == 'The Stars Reply' %>

        		<h4><%= yield(:title).upcase %></h4>
	            </br>
	            <p>
	            The Sigma Phi Society is the nation's oldest continually operating fraternity, yet it is also one of the smallest with only 10 chapters. Once a year, a national convention calls members together. Starting as strangers grasping at threads of commonality, these men leave as brothers woven together by a profound history and identity. <%= Contact::CONTACTME %>
	            </p>
	        	</br>

        	<% elsif content_for(:title) == 'Reflections in Yosemite' %>

        		<h4><%= yield(:title).upcase %></h4>
	            </br>
	            <p>
	            Photographs that capture the continuously changing dynamic of Yosemite National Park. <%= Contact::CONTACTME %>
	            </p>
	        	</br>

        	<% elsif content_for(:title) == 'Natural Environments' %>

        		<h4><%= yield(:title).upcase %></h4>
	            </br>
	            <p>
	            A selection of my favorite photographs of the wild outdoors (with some minor urban or human features!). <%= Contact::CONTACTME %>
	            </p>
	        	</br>

        	<% elsif content_for(:title) == 'Urban Playgrounds' %>

        		<h4><%= yield(:title).upcase %></h4>
	            </br>
	            <p>
	            A selection of my favorite photographs of cityscapes and the things we build. <%= Contact::CONTACTME %>
	            </p>
	        	</br>

        	<% elsif content_for(:title) == 'Human Expressions' %>

        		<h4><%= yield(:title).upcase %></h4>
	            </br>
	            <p>
	            A selection of my favorite photographs of unsuspecting friends and strangers. Here I try to really capture the fleeting masks we're constantly peeking out from behind. <%= Contact::CONTACTME %>
	            </p>
	        	</br>

	        <% elsif content_for(:title) == 'Portrait Portfolio' %>

        		<h4><%= yield(:title).upcase %></h4>
	            </br>
	            <p>
	           	My favorite photos from various portraiture sessions. <a href="<%= photographer_services_path %>">Back to</a> information about my services. 
	            </p>
	        	</br>

        	<% end %>
    </div>