
<nav class="navbar navbar-static-top center" role="navigation">
  <div class="navbar-inner">
  	<div class="container fluid">
	
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		          <li><a class="navbar-brand" href="<%= root_path %>">James Dong</a></li>
		          <ul class="nav navbar-nav nav-left">
		    		<li><a href="<%= photographer_path%>">About the Photographer</a></li>
		   		  </ul>
		          <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
			          <ul class="dropdown-menu">
			          	
			            <li><a href="#">The Great Outdoors</a></li>
			            <li><a href="#">Urban Playgrounds</a></li>
			            <li><a href="#">Human Expressions</a></li>
			            <li class="divider"></li>
			            <li><a href="<%= photographer_the_deep_south_path %>">The Deep South</a></li>
			            <li><a href="#">The Stars Reply</a></li>
			            <li><a href="#">Reflections in Yosemite</a></li>

			          </ul>
		          </li>
		    </ul>
	 
			<ul class="nav navbar-nav nav-left">
		    	<li><a href="<%= photographer_services_path%>">Services</a></li>
		    	<li><a href="<%= new_contact_path %>">Contact</a></li>
		    </ul>
		</div>
		<hr>	
  	</div>
  </div>

</nav>
