<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/ganalytics' %>

  <% if @miscpage == true %>
    <%= render 'layouts/mischeader' %>
  <% elsif @photopage == true %>
    <%= render 'layouts/photoheader' %>
  <% elsif @entrepage == true %>
    <%= render 'layouts/entreheader' %>
  <% elsif @foodpage == true %>
    <%= render 'layouts/foodheader' %>
  <% end %> 

  <% if @gallerypage == true %>
    <%= render 'layouts/galleryhead' %> <!-- galleria add-on + intro text for each page -->
  <% else %>
    </head>
    <body>
    <div class="container-fluid">
  <% end %>

  	<%= yield %>

  </div>
</body>

  <%= render 'layouts/footer' %>

</html>
